# default HTTPS only server
# {{ ansible_managed }}
server {
	listen			443 default;
	listen   		[::]:443 default;
	server_name		www.{{ domain }};

	root			/var/www/current/public;
	passenger_enabled	on;

	ssl 			on;
	ssl_certificate		/etc/ssl/private/{{ domain }}.cer;
	ssl_certificate_key	/etc/ssl/private/{{ domain }}.key;

	ssl_ciphers			RC4:HIGH:!aNULL:!MD5;
	ssl_prefer_server_ciphers	on;
	ssl_session_timeout		10m;
	ssl_session_cache		shared:SSL:10m;

	location ~ ^/(assets|system)/ {
		expires		1y;
		add_header	Cache-Control public;
		add_header	ETag "";
		break;
	}

}

